<link href="/bannerStyles.css" rel="stylesheet">
<span id="modeString"><%= @modeString %></span>

<span class="title"><%= @banner %></span>
<img class="la" src="/<%= @banner %>.png" />

<%

	last = ""
	cond = @places.map{ |place| " dest=\"#{place}\" or "}.join
	cond = cond[0..-4]
	results = if(@mode==nil)
		@places.collect do |place|
			Results.find(:all, @mode, :conditions => "dest = \'#{place}\'" )
		end
	else
		@places.collect do |place|
			Results.find_all_by_wo(@mode, :conditions => "dest = \'#{place}\'" )
		end
	end
	results = results.flatten
	cids = results.map{ |r| r.cid}
	
	posts = cids.collect{ |cid| Posts.find_by_cid cid }.compact
	ocities = posts.map{ |p| p.city }.uniq
%><h1><span style="text-transform:uppercase">FROM:</span> <%
	ocities.each do |ocity|
	%>	<a href="#<%=ocity%>"><%=ocity%></a><%
	end
%></h1><%
	posts.sort_by{ |post| 
				r = results.find{ |r_| r_.cid==post.cid }
				  post.city+" "+r.orig.downcase+" "+post.posted.to_s
	}.each do |post|
		result = Results.find_by_cid post.cid
		next if post==nil
	#	next if(post.posted<Time.now.to_i-(60*60*24*7*2))
		if(last!=post.city)
%>			
<a name="<%= post.city %>">
<h1 style="top:0"><%= post.city.upcase %></h1>
<%		end
#		puts "<h1>"+post.city.upcase+"</h1>" if last!=post.city
		last = post.city unless last==post.city
%>
		<p class="">
			<span class="orig">&gt;&nbsp;<%= result.orig %>&nbsp;&lt;</span>
			<a href="<%= post.link %>"><%= post.title %></a>
		</p>
	<% end %>

<!--
SF:  http://i.imgur.com/TWDrs.png
LA:  http://i.imgur.com/Xn7xG.jpg
All: http://i.imgur.com/tsmiR.jpg
-->
