	<style>
		@font-face {
			font-family: "Maagkramp";
			src: url("/maagkramp_by_ficod.ttf") format("truetype");
		}
		body{
			margin:0;
			<% if(@bgImg!=nil)%>
			background-image: url('/<%=@bgImg%>');
			background-repeat: no-repeat;
			background-size: cover;
			background-attachment: fixed;
			<% else %>
			background-image: url('/xv.png');
			
			<% end %>
		}
		#boxes a:link,a:visited{
			display: block;
			color: black;
			font-weight: 800px;
			padding-bottom: .1ex;
			text-align: center;
			font-size: 120%;
		}
		#boxes{
			font-family: Raleway;
			font-weight: 700;
			position: absolute; right: 1em; top: 5em;
			border:1px solid white;
			padding:2em 2em 1em 2em; 
			display: block; border-radius: 10px; 
			width: 9em; background: rgba(255,255,255,.6) }
		#title{
			font-family: Maagkramp;
			background-color: #333;
			-webkit-background-clip: text;
			background-clip: text;
			color: transparent;
			text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
			//color: #CCC;
			font-size:279px; font-weight: bold;
		 	margin-left: 1%;
			width: auto;
			padding:0ex;  }
		.post{
			overflow: hidden;
			margin-left: 10%;
			border:1px solid #CCC;
			width: 60%;
			border-radius: 5px;
			text-overflow: ellipsis;
			font-size: 120%;
			font-family: sans-serif;
			padding: .5ex .5ex .5ex 2ex;
			color: black;
			background-color: rgba(255,255,255,.6);
			box-shadow: 7px 7px rgba(0,0,0,0.5);
			
		}
		.post b{ 
			margin: auto 0;
			font-size: 120%; text-transform: uppercase;
			letter-spacing: .12em;
			border-radius: 5px;
			background-color:rgba(255,255,255,.8);
		}
		.post a:link {
			color: #FFF;
			float: right;
			display: block;
			//width: 1em;
			padding:.1ex .1ex .1ex .1ex;
			//border:1px solid white;
			text-align: top;
			border-radius: 3px;
			background: rgba(0,0,0,.5);
			text-overflow: ellipsis;
		}
		.explanation{
			border:1px solid black;
			padding-left:2em;
			padding-top: .4em;
			padding-bottom: .4em;
			padding-right: 2em;
			text-align: justify;
			border-left:0px solid white;
			border-right:0px solid white;
			width: 20em;
			margin: 0 auto;
			display: block;
		}
		.post a:visited{
			color: rgba(255,255,255,.1);
			
		}
		.content{
			border:1px solid white;
			display: none;
		}
		.content_v{
			clear: both;
			float: right;
			color: #333;
			display: inline;
			padding: 1em;
		}
		div#footer{ display:none; }
		
		#cont{
			padding-top:2em;
			padding-bottom: 2em;
			margin:1em;
			background:rgba(255,255,255,.4);
			border-radius: 100px;
		}

		.post{
			margin:auto auto
			margin-top:1em;
			
		}

		</style>
		<div id="boxes">
			<a href="/seattle">Seattle</a><br />
			<a href="/pdx">PDX</a><br />
			<a href="/sf">SF</a><br />
			<a href="/sb">SB</a><br />
			<a href="/la">LA</a><br />
		</div>
		<span id="title">[<%=@name%>]</span>
		<%if(@name==nil) %>
			<style>
			#boxes{
				color: black;
				border:1px solid black;
				background-color: rgba(152,152,152,.4);
			}
			#boxes a:link{
				color: black;
			}
			</style>
			<span class="explanation"><span class="who" style="color: black; font-size:120%">megoszt</span> shows you all the rides and passages leaving from your city, without the tedium of sifting though inapplicable posts. To get started, just select your city from the box on the right.</span>
		<%
		else
			today = (Time.parse(Time.new.strftime("%m/%d/%Y"))).to_i
			#today = (Time.parse(Time.new.strftime("11/25/%Y"))).to_i
			results = Results.find(:all, :conditions => " leaving=#{today}")
			posts = Posts.find(results.map{|r| r.cid })
			posts = posts.select{ |p| p.city==@clName }
			%><div id="cont"><%
			posts.each do |post|
				dest = Results.find(post.cid).dest
				next if dest==""
				b = '<b class="dest"> '
				post.title.sub!(/#{dest}/i,b+" &nbsp;#{dest} </b>&nbsp; ")
				unless(post.title=~/<b>/)
					findAbrev = / #{dest.scan(/[A-Z]/).join} /i
					post.title.sub!(findAbrev,b+" &nbsp;#{dest} </b>&nbsp; ")
				end
			%>
				<p id="<%=post.cid %>" class="post">
					<%= post.title %>

					<a class="inna" name="<%= post.cid %>" 
						href="#"
						hash="<%=post.link %>">(+)<%# post.cid%></a>
						<span name="content" class="content">
							<%= post.content %>
							<a href="<%= post.link %>"><%= post.cid %></a>
						</span>
				<% end%>
			<%end%>
		</div>
		<p style="height:100%"></p>
		<script>
			 innas = $("a.inna");
			 for(i=0;i<innas.length;i++){
				innas[i].onclick  = function() {
					this.parentElement.children[2].className = 'content_v';
					console.log(this.parentElement.children[2])
					this.innerHTML = "(--)"
					return false;
			 	}
			 }
		</script>
		<!-- script>
		/*
		function getDest(cid){
			dest = ""
			$.ajax({	
			   url:'http://50.18.139.191/d/'+cid,
			    dataType: "jsonp",
			    jsonpCallback: "_dest_cb",
			    cache: false,
			    timeout: 10000,
			    success: function(data) {
					data = eval('('+data+')');
					dest = data[cid];
				},
			    error: function(jqXHR, textStatus, errorThrown) {
			        alert('error ' + textStatus + " " + errorThrown);
			    }
			});
		}
		var origs = "";
		url = "http://maps.googleapis.com/maps/api/staticmap?sensor=false"
		url += "&maptype=roadmap&zoom=11&size=406x256&center="
		for(i = 0 ; i<$(".inna").length; i++){
			$(".inna")[i].onclick = function(){
				cid = this.name;
				$.ajax({
			
				   url:'http://50.18.139.191/origp/'+this.name,
				    dataType: "jsonp",
				    jsonpCallback: "_orig_cb",
				    cache: false,
				    timeout: 10000,
				    success: function(data) {
						data = eval('('+data+')');
						origs = data;
						parent = $("#"+cid)[0]
						parent.style.width = "850px"
						orig = origs[cid]
						origURL = url.replace("11","13")+orig.replace(/ /g,"%20")
						dest = parent.children[0].innerText.replace(/  +/,"")
						destURL = url+dest.replace(/ /g,"%20")
						parent.innerHTML += "<br><img src="+origURL+">"
						parent.innerHTML += "<img src="+destURL+">"
					},
				    error: function(jqXHR, textStatus, errorThrown) {
				        alert('error ' + textStatus + " " + errorThrown);
				    }
				});
				return(false)
			}
		}

		*/
		</script>
		 -->
